html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map-canvas {
    width:100%; 
    height:100%;
    float:left
}

#content-window {
	z-index: 100; 
    position: absolute;
    padding: 5px;
    text-align: center;
    right: 0;
    width: 35%;
    max-width: 320px;
}

#container { 
    width: 100%; 
    height: 100%;
}

#button-div {
	vertical-align: bottom;
}

.active-route-row {
	background-color: #2C64DE !important;
}

#route-table {
	width: 100%;
    background-color: white;
}

#route-table tr:hover {
    background-color: #ccc;
}
#route-table td:hover {
    cursor: pointer;
}

.escape-button {
    height: 30px;
    width: 30px;
    border: none;
    
    background-color: 0;
	position: fixed;
	margin-left: 150px;
    background: url("../app/res/escape_btn.png");
}

#dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 350px;
    margin-left: -175px;
    height: 300px;
    margin-top: -200px;
    background: #2C64DE;
    text-align: center;
    color: white;
    visibility: hidden;
    z-index: 200;
}

#dialog-box2 {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    height: 100px;
    margin-top: -50px;
    background: #2C64DE;
    text-align: center;
    vertical-align: center;
    color: white;
    visibility: hidden;
}

.dialog-box-table {
	background-color: white;
	display: inline-block;
	height:300px;
	overflow:auto;
	text-align: center;
	color: black;
	font-size: 10pt;
}

.dialog-box-table td:hover {
    cursor: pointer;
}

.dialog-box-table tr:hover {
    background-color: #ccc;
}

p {
	font-size: 9pt;
}