html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#content-window {
	height: 100%;
	padding: 10px;
	text-align: center;
}

#button-div {
	vertical-align: bottom;
}

.active-route-row {
	background-color: #2C64DE !important;
}

#route-table {
	width: 100%;
	margin-bottom: 20px;
}

#route-table tr:hover {
    background-color: #ccc;
}
#route-table td:hover {
    cursor: pointer;
}

.escape-button {
	color: black;
	border-radius: 0;
	border-color: #ccc;
	position: fixed;
	margin-left: 150px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-collapse: collapse;
}

#dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 350px;
    margin-left: -175px;
    height: 300px;
    margin-top: -200px;
    background: #2C64DE;
    text-align: center;
    color: white;
    visibility: hidden;
}

.dialog-box-table {
	background-color: white;
	display: inline-block;
	height:300px;
	overflow:auto;
	text-align: center;
	color: black;
	font-size: 10pt;
}

.dialog-box-table td:hover {
    cursor: pointer;
}

.dialog-box-table tr:hover {
    background-color: #ccc;
}

p {
	font-size: 9pt;
}